<section class="container-car-banner">
  <h1>Welcome to CSE Motors!</h1>
  <div class="container-order-car">
    <h2>DMC Delorean</h2>
    <p class="car-order-paragraph">3 Cup holders</p>
    <p class="car-order-paragraph">Superman doors</p>
    <p class="car-order-paragraph">Fuzzy dicel</p>
    <Input class="btn-order-car" type="button" value="Own Today" />
  </div>
  <img
    class="img-banner-car"
    alt="Delorean"
    src="/images/vehicles/delorean.jpg"
  />
</section>
<section class="containers-car-all-details">
  <div class="container-car-reviews">
    <h1>MC Delorean Reviews</h1>
    <ul>
      <li class="review-description">
        "So fast it's almost like traveling in time." (4/5)
      </li>
      <li class="review-description">"Coolest ride on the road." (4/5)</li>
      <li class="review-description">"I'm feeling McFly!" (5/5)</li>
      <li class="review-description">
        "The most futuristic ride of out day." (4.5/5)
      </li>
      <li class="review-description">"80's livin and love it (5/5)"</li>
    </ul>
  </div>
  <div class="container-car-upgrades">
    <h1>Delorean Upgrades</h1>
    <div class="car-upgrades-container">
      <div>
        <div class="img-upgrades">
          <img alt="Flux Capacitor" src="/images/upgrades/flux-cap.png" />
        </div>
        <a href="">Flux Capacitor</a>
      </div>
      <div>
        <div class="img-upgrades">
          <img alt="Flame Decals" src="/images/upgrades/flame.jpg" />
        </div>
        <a href="">Flame Decals</a>
      </div>
      <div>
        <div class="img-upgrades">
          <img
            alt="Bumper Stickers"
            src="/images/upgrades/Bumper_sticker.jpg"
          />
        </div>
        <a href="">Bumper Stickers</a>
      </div>
      <div>
        <div class="img-upgrades">
          <img alt="Hub Caps" src="/images/upgrades/hub-cap.jpg" />
        </div>
        <a class="upgrade-link-description" href="">Hub Caps</a>
      </div>
    </div>
  </div>
</section>
