/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.siteName.a:link {
  text-align: left;
}

#tools {
  text-align: right;
}

.link-home {
  text-decoration: None;
  color: black;
  font-size: 2.2em;
  font-weight: bold;
}

.link-home:visited {
  text-decoration: None;
}

.link-my-account {
  text-decoration: None;
  color: black;
  font-weight: bold;
}

.link-my-account:visited {
  text-decoration: None;
}

.home-ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  list-style: none;
  background-color: #242332;
  color: white;
}

.car-upgrades-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  background-color: #266297;
  text-align: center;
  padding: 5%;
}

.img-banner-car {
  width: 80%;
  position: relative;
  z-index: -1;
  margin: auto 10% auto 10%;
}

.container-order-car {
  color: #266297;
  font-weight: bold;
  position: absolute;
  background: rgb(188 188 188 / 43%);
  font-size: small;
  width: 10em;
  height: 9.5em;
}

.btn-order-car {
  background-color: #266297;
  color: white;
  font-weight: bold;
  position: absolute;
}

.container-car-banner {
  position: relative;
}

.car-order-paragraph {
  margin: 0%;
}

@media screen and (min-width: 700px) {
  .containers-car-all-details {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .container-car-reviews {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .container-car-upgrades {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
