/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

#top-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.siteName.a:link {
  text-align: left;
}

#tools {
  text-align: right;
}

.link-home {
  text-decoration: None;
  color: black;
  font-size: 2.2em;
  font-weight: bold;
}

.link-home:visited {
  text-decoration: None;
}

.link-my-account {
  text-decoration: None;
  color: black;
  font-weight: bold;
}

.link-my-account:visited {
  text-decoration: None;
}

.home-ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  list-style: none;
  background-color: #242332;
  color: white;
  height: 2.5em;
  align-items: center;
}

.img-upgrades {
  background-color: #266297;
  height: 80%;
  width: 95%;
}

.car-upgrades-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  text-align: center;
  padding: 5%;
}

.img-banner-car {
  width: 80%;
  position: relative;
  z-index: -1;
  margin: auto 10% auto 10%;
}

.container-order-car {
  color: #266297;
  font-weight: bold;
  position: absolute;
  background: rgb(188 188 188 / 43%);
  font-size: x-small;
  width: 12em;
  height: 13em;
  margin-left: 5%;
  padding: 10px;
}

.btn-order-car {
  background-color: #266297;
  color: white;
  font-weight: bold;
  position: absolute;
  margin-top: 5px;
}

.container-car-banner {
  position: relative;
}

.car-order-paragraph {
  margin: 0%;
}

.review-description {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 700px) {
  .containers-car-all-details {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 18em;
  }

  .container-car-reviews {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .container-car-upgrades {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .review-description {
    margin-bottom: 1.5em;
  }

  .container-order-car {
    font-size: large;
    width: 11.5em;
    height: 13em;
  }

  .btn-order-car {
    width: 10em;
    margin-top: 3em;
    height: 3em;
  }
}
